#root {
  height: 100vh;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin-top: 6rem;
  color: #495057;
  /* background-color: orange; */
}

input {
  height: 1.8rem;
  border-radius: 8px;
  padding-left: 10px;
  border: 1px solid hsl(36, 95%, 80%);
}

input:focus {
  border: 1px solid red;
}

select {
  height: 1.8rem;
  border-radius: 8px;
  padding-left: 10px;
  border: 1px solid hsl(36, 95%, 80%);
  background-color: white;
}

.btn {
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  background-color: #fea243;
}
.btn:hover {
  background-color: hsl(30, 80%, 40%);
  color: white;
}

.eat-n-split {
  /* max-width: 1000px; */
  display: grid;
  grid-template-columns: 2fr 3fr;
  column-gap: 4rem;
  align-items: start;
}

.hidden {
  display: none !important;
}

/* LIST OF FRIENDS */
.friend {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 8px;
  padding: 0.6rem 1.2rem;
  margin-bottom: 1rem;
  border-radius: 8px;
}

.friend:hover {
  background-color: #fef3e2;
}

.friend img {
  width: 54px;
  height: 54px;
  overflow: hidden;
  border-radius: 50%;
}

.friend .name {
  font-weight: bold;
  line-height: 26px;
}

.friend .btn {
  margin-left: auto;
}

.sidebar .btn-form {
  margin-top: 1rem;
}

.form-add {
  display: grid;
  align-items: center;
  row-gap: 0.5rem;
  grid-template-columns: 2fr 5fr;
  padding: 2rem 1.5rem;
  background-color: #fef3e2;
  border-radius: 8px;
}

.form-add .btn {
  /* grid-column-start: 2; */
  grid-column: 2/3;
}

.state {
  font-size: 14px;
}

/* BILL AND SPLIT */
.bill-and-split {
  padding: 2rem 1.5rem;
  border-radius: 8px;
  background-color: #fef3e2;
  height: fit-content;
}

.bill-form {
  display: grid;
  grid-template-columns: 3fr 5fr;
  row-gap: 0.5rem;
  align-items: center;
}

.title {
  grid-column: 1/-1;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1rem;
}

.bill-and-split button {
  margin-top: 1rem;
  grid-column: 2/-1;
}
